@import "../../../../sass/variables";

.task-filter-container {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  height: 40px;
}

.task-filter-container li {
  display: inline;
  margin: 0 auto;
}

.task-filter-container li button {
  outline: none;
  background-color: inherit;
  color: $text-color;
  margin: 8px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  font-size: 14px;
}

.task-filter-container li .selected-task-filter {
  border-color: $selected-filter-border;
}

.task-remaining {
  position: absolute;
  color: $text-color;
  font-size: 14px;
  margin: 10px;
  padding: 3px 7px;
  float: left;
}
