$a-color-red-n1: #f44336;
$a-color-green-n1: #16a085;
$font-size: 24px;
$task-font-family: Arial, Helvetica, sans-serif;
$text-color: #4d4d4d;
$task-container-background: #f5f5f5;
$task-background: #fff;
$add-task-color: #5dc2af;
$task-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
$dark-accent: #e6e6e6;
$header-text-color: rgba(175, 47, 47, 0.15);
$add-task-background-color: rgba(0, 0, 0, 0.003);
$add-task-text-color: rgb(77, 77, 77);
$item-border-color: #ededed;
$remove-base-color: #cc9a9a;
$remove-emphasis-color: #af5b5e;
$selected-filter-border: rgba(175, 47, 47, 0.2);
