@import "../../../sass/variables";

.tasksHeader {
  margin-bottom: 10px;
  color: $header-text-color;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

.task-component input,
.task-component li,
.task-component h1,
h2 {
  font-family: $task-font-family;
}

.task-container {
  background: $task-container-background;
}

.task-component {
  background: $task-background;
  margin: 0 auto;
  color: $text-color;
  box-shadow: $task-shadow;
  max-width: 550px;
}

.task-component button {
  outline: none;
}
