@import "../../../../sass/variables";

.task-summary-container {
  color: $text-color;
  padding: 10px 15px;
  height: 70px;
  border-top: 1px solid $dark-accent;
  margin: 0;
}

.task-summary-container li {
  list-style: none;
}
