@import "../../../../sass/variables";

.add-task-component {
  position: relative;
}

.add-task-component input {
  padding: 16px 16px 16px 60px;
  border: none;
  background: $add-task-background-color;
  box-shadow: inset 0 -2px 1px $add-task-background-color;
  color: $add-task-text-color;

  width: 100%;
  font-size: $font-size;
  font-family: $task-font-family;
  font-weight: inherit;
  line-height: 1.4em;
  outline: none;
  box-sizing: border-box;
}

.add-task-component .add-task-button {
  position: absolute;
  appearance: none;
  background: none;
  border: none;
  font-size: 30px;
  width: 40px;
  color: $add-task-color;
  right: 10px;
  top: 15px;
  margin: auto 0;
}
